

<section id="contact">
  <h2 class="contact-title">Contact me</h2>
  <div class="form-group">
    <label>Your email:</label>
    <input class="form-control" type="text" name="newTitle" value="" placeholder="youremail@domain.com" >
  </div>
  <div class="form-group">
    <label>Message:</label>
    <textarea class="form-control" name="content" rows="5" cols="30"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" name="button">Send Email</button>
  </div>

</section>


<footer id="footer">
  <i class="footer-icon fa-brands fa-facebook"></i> <i class="footer-icon fa-brands fa-twitter"></i> <i class="footer-icon fa-brands fa-instagram"></i> <i class="footer-icon fa-solid fa-envelope"></i>
  <p>© Copyright Carlos Restrepo</p>

</footer>


</body>

</html>
