<%- include('partials/header') %>
  <section id="title">
    <!-- Title -->
    <div class="row">
      <div class="col-lg-6">
        <h3 class="big-heading">Mathematician and Programmer.</h3>
        <div class="">
          <button class="download-button btn btn-dark btn-lg" type="button"> <i class="fa-brands fa-apple"></i> Resume</button>
        </div>
        <div class="">
          <button class="download-button btn btn-outline-light btn-lg" type="button"> <i class="fa-brands fa-google-play"></i> Tutoring</button>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="title-image" src="images/iphone6.png" alt="iphone-mockup">
      </div>
    </div>

  </div>
</section>


<!-- Features -->

<section id="features">
    <div class="">
      <h2>About me</h2>
      <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>



</section>


<!-- Testimonials -->

<section id="testimonials">
  <div class="hiring">
    <h2 class="cta-text">Looking to hire me?</h2>
    <button class="cta-button-left btn btn-lg btn-light" type="button"> <i class="fa-brands fa-apple"></i> Resume</button>
    <button class="cta-button-right btn btn-lg btn-dark" type="button"> <i class="fa-brands fa-google-play"></i> Tutoring</button>
  </div>

</section>


<!-- Pricing -->

<section id="pricing">
  <h2 class="contact-title">Contact me</h2>
  <div class="form-group">
    <label>Your email:</label>
    <input class="form-control" type="text" name="newTitle" value="" placeholder="youremail@domain.com" autofocus="true">
  </div>
  <div class="form-group">
    <label>Message:</label>
    <textarea class="form-control" name="content" rows="5" cols="30"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" name="button">Send Email</button>
  </div>

</section>


<!-- Call to Action -->
<!--
<section id="cta">

  <h3 class="cta-text">Find the True Love of Your Dog's Life Today.</h3>
  <button class="cta-button-left btn btn-lg btn-light" type="button"> <i class="fa-brands fa-apple"></i> Download</button>
  <button class="cta-button-right btn btn-lg btn-dark" type="button"> <i class="fa-brands fa-google-play"></i> Download</button>

</section> -->


<!-- Footer -->

<%- include('partials/footer') %>
