<%- include('partials/header') %>

  <section id="title">
    <!-- Title -->
    <div class="container-fluid">
      <div class="row">
        <div class="title-slide col-lg-6">
          <h3 class="big-heading">Mathematician, Programmer.</h3>
          <div class="">
            <a href="/docs/CarlosRestrepoResume.pdf" download><button class="download-button btn btn-dark btn-lg" type="button">Download Resume</button></a>
            <a href="/tutoring"><button class="download-button btn btn-outline-light btn-lg" type="button">Prime Learning</button></a>
          </div>
        </div>
        <div class="col-lg-6">
          <img class="title-image" src="images/profile.jpg" alt="">
        </div>
      </div>
    </div>


</section>


<!-- About me -->
<!--     -->
<section id="about-me">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <img class='img-teaching' src="/images/teaching.png" alt="carlos-teaching">
      </div>
      <div class="col-lg-7">
        <h2>About me</h2>
        <p>I have been in university math education for the past few years, I am looking to change gears and take my skills into the tech industry. I studied Mathematics and Computer Science during my undergraduate studies at the University of Toronto Mississauga and recently completed my Masters Degree in Applied Mathematics at Ryerson University (now Toronto Metropolitan University) with a focus in Mathematical Logic. In my personal time I enjoy playing video games, rock climbing and knitting.</p>
      </div>
    </div>
  </div>
</section>



<!-- Projects-->
<!-- -->
<section id="projects">
  <div class="container-fluid">
    <h2>Projects</h2>

      <div class="project rounded">
        <a href="/tutoring" class='project-link'><button type="button project-button" class="btn btn-light">Power BI Report.</button></a>
        <p class ="project-text">Created a semantic model to store and visualize gathered data into reports and dashboards.</p>
      </div>

      <div class="project rounded">
        <a href="/tutoring" class='project-link'><button type="button project-button" class="btn btn-light">Prime Learning booking form.</button></a>
        <p class ="project-text">The other side to this website is used for my freelance tutoring. Clients are able to book appointments according to the displayed schedule. Google's API is used to read and write to the calendar as well as write emails internally to notify of new bookings. The information in the booking is then extracted and transformed to be transfered to a MongoDB database under different tables to be used for analysis.</p>
      </div>


      <div class="project rounded">
        <a href="/capstone" class='project-link'><button type="button project-button" class="btn btn-light">Finding a Location for a Tutoring Centre.</button></a>
        <p class ="project-text" >The goal was to use publicly available data about schools in Ontario, with respect to existing tutoring services, to determine where may be the best place to establish a tutoring centre. It was written in Python using Jupyter Notebooks. It uses common data analysis libraries such as numpy, pandas, matplotlib and scikit-learn to handle data, plot maps and cluster results. The project first shows the process done 'manually' within Mississauga and is then automated to handle an input of multiple city names and output the resulting map.</p>
      </div>



  </div>

</section>





<!-- Testimonials

<section id="hire-me">
  <div class="container-fluid">
    <div class="hiring">
      <h2 class="cta-text">Want to hire me?</h2>
      <div class="guide-buttons">
        <a href="/docs/CarlosRestrepoResume.pdf" download><button class="download-button btn btn-dark btn-lg" type="button">Download Resume</button></a>
        <a href="/tutoring"><button class="download-button btn btn-outline-light btn-lg" type="button">Tutoring</button></a>
      </div>
    </div>
  </div>
</section>

 -->

<%- include('partials/footer') %>
