<%- include('partials/header') %>

  <section id='title'>
    <a href="/docs/CarlosRestrepoResume.pdf" download>Resume as pdf</a>
  </section>

  <section id='about'>

  </section>



<%- include('partials/footer') %>
