<%- include('partials/header') %>

  <section id='title'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div>
            <h4 class="top-tagline">Teaching at the university level since 2017.</h4>
          </div>
          <div class="">
            <h5>Now offering tutoring online and in-person.</h5>
          </div>
        </div>
        <div class="col-lg-6">
          <img class='title-image' src='images/cold.jpg'>
        </div>
      </div>
    </div>
  </section>


  <section id='sessions'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-9">
          <h2>Session</h2>
          <h5>During the session I will write notes onto my tablet and afterwards send a copy of the file. It helps if you bring questions.</h5>

        </div>
        <div class="col-lg-3">
          <img class='sample-file' src='images/yyyay.jpg'>
        </div>
      </div>
    </div>
  </section>

  <section id="pricing">

    <h2>A Plan for Every Dog's Needs</h2>
    <p>Simple and affordable price plans for your and your dog.</p>

    <div class="row">
      <div class="pricing-col col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>First Session</h3>
          </div>
          <div class="card-body">
            <h3>$50/hr at least 3 days advance.</h3>
            <button class="btn btn-outline-dark btn-lg w-100" type="button">Sign Up</button>
          </div>
        </div>
      </div>

      <div class="pricing-col col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Labrador</h3>
          </div>
          <div class="card-body">
            <h2>$49 / mo</h2>
            <p>Unlimited Matches</p>
            <p>Unlimited Messages</p>
            <p>Unlimited App Usage</p>
            <button class="btn btn-dark btn-lg w-100" type="button">Sign Up</button>
          </div>
        </div>
      </div>

      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Mastiff</h3>
          </div>
          <div class="card-body">
            <h2>$99 / mo</h2>
            <p>Pirority Listing</p>
            <p>Unlimited Matches</p>
            <p>Unlimited Messages</p>
            <p>Unlimited App Usage</p>
            <button class="btn btn-dark btn-lg w-100" type="button">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id='schedule'>
    <div class="container-fluid">

      <h2>Availability</h2>
      <h5>Contact me for times/methods outside these.</h5>

      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23749f82&ctz=America%2FToronto&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=WEEK&title=%20tutoring&src=MDExNGNjZDQ3MjQ1MTk2ZDc0NjU2MzUxZjg5ODlhODUxOWJmM2NkMWJhNDBjNTA2ZDgzZTc1ZDYxOGIwY2ZlM0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YTU0NDI0NjQ3ZTJjZjAxMWMzNWFkODk5YTM1Y2I2OWMwZWFjOWQ1NmQwMGQ1ZDQxNTQ2MmM2ZjAxN2E1ZGU4MkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=MWIzZGYyZjU4ZTM0MDVkMmIwNzM0NWJkZjEzYzM2NmNjMzM4NTc3YzdkYzE4MTIxY2FmZmYyNjA3ODJiMmYyOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%237CB342&color=%23D50000" style="border-width:0" width="1200" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </section>



<%- include('partials/footer') %>
